
<h3><%=l(:label_work_packages_waiting_for_me)%></h3>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<% waiting_work_packages =
	WorkPackage.visible.open.find_by_sql(
		"select * from #{WorkPackage.table_name} 
		  where (start_date is null or start_date<Date(Now()))
          and done_ratio<100
          and type_id in (#{Type.where("name in ('Task','Bug')").collect{|m| m.id}.join(',')})
          and assigned_to_id = #{User.current.id}
          and id not in 
	         (select to_id 
      		    from openproject_ce.work_packages _wp, openproject_ce.relations _r
                where relation_type='precedes'
                and from_id=_wp.id
                and done_ratio<100)"
	)%>
	
<%= render :partial => 'work_packages/list_waiting_for_me', 
           :locals => { :work_packages => waiting_work_packages } %>
